*.iml
.gradle
local.properties
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
keystore.properties
app/src/dark
app/src/light
app/src/runtime
__pycache__/

# IDEs cache directory
.vs/
.idea/
.vscode/
.vsc/
