name: Close stale PRs

on:
  schedule:
    - cron: 0 0 1-31 * *
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          stale-pr-message: This PR is now marked as stale due to 2 weeks of inactivity. Please apply the suggested changes or comment to keep it active. Otherwise, it will be closed in a week.
          close-pr-message: Closed due to inactivity.
          days-before-pr-stale: 14
          days-before-pr-close: 7
          days-before-issue-stale: -1
          exempt-draft-pr: true
          operations-per-run: 500
          labels-to-add-when-unstale: unstale
