name: Close stale PRs

on:
  schedule:
    - cron: 0 0 1-31 * *
  workflow_dispatch:
  
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-pr-message: We have marked this PR as stale because it has been open for 1 month with no activity. Please apply the suggested changes if there are any, and comment something related to your PR. If you don't take any action for 2 weeks, the PR will be closed.
          close-pr-message: As stated in the previous message, this PR was closed because it has been stale for another 2 weeks with no activity.
          days-before-pr-stale: 30
          days-before-pr-close: 14
          days-before-issue-stale: -1
          exempt-draft-pr: true
          operations-per-run: 500
          labels-to-add-when-unstale: unstale
